<script src="http://static.opentok.com/v0.91/js/TB.min.js"></script>
<script type="text/javascript">
    var apiKey = '22769732';
    var sessionId = '1_MX4yMTgwNTk0Mn5-U2F0IEZlYiAwMiAwNzo1NjoyMiBQU1QgMjAxM34wLjE2NzgzNDY0fg';
    var token = 'T1==cGFydG5lcl9pZD0yMTgwNTk0MiZzaWc9NTg5MDU2MjhhZGVlZjA3MjM2MTVhYWQ0M2EzYTc5Y2FjZTg2ZjljOTpzZXNzaW9uX2lkPTFfTVg0eU1UZ3dOVGswTW41LVUyRjBJRVpsWWlBd01pQXdOem8xTmpveU1pQlFVMVFnTWpBeE0zNHdMakUyTnpnek5EWTBmZyZjcmVhdGVfdGltZT0xMzU5ODIwNTgyJmV4cGlyZV90aW1lPTEzNTk5MDY5ODImcm9sZT1wdWJsaXNoZXImbm9uY2U9NDE4OTcx';

    TB.setLogLevel(TB.DEBUG); // Set this for helpful debugging messages in console

    var session = TB.initSession(sessionId);
    session.addEventListener('sessionConnected', sessionConnectedHandler);
    session.connect(apiKey, token);

    function sessionConnectedHandler(event) {
        alert('Hello world. I am connected to OpenTok :).');
    }
</script>
