<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>15 Seconds</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

    {{{body}}}

    <!--<script src="http://static.opentok.com/v0.91/js/TB.min.js"></script>-->
    <script src="http://static.opentok.com/webrtc/v2.0/js/TB.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/ender.js"></script>
    <script src="js/fifteen-s.js"></script>
</body>
</html>
