<div id="container" class="famous_off">
	<div id="header">
        <div class="logo">
            15 <span>seconds</span>
        </div>
        <div class="warning">
            You'll be on soon!
        </div>
        <div class="onair">
            On Air
        </div>
        <div class="description">
            Every 15 seconds a random visitor gets to be in the spotlight. Make sure your webcam is on, and maybe you will get a chance!
        </div>
	</div>
	<div id="content">
        <div id="preview"></div>
	</div>
</div>
